.contact_input {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.basket_container input {
    font-weight: 400;
    font-size: 18px;
    background: #F6F6F6;
    border: 1px solid #D3D3D3;
    margin-bottom: 25px;
    padding: 9px 0 9px 19px;
    color: #4B4B4B;
    width: 430px;
    margin-top: 10px;
}

.contact_details {
    font-size: 24px;
    font-weight: 600;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 20px;
}

.contact_left {
    border-right: 1px solid #D3D3D3;
    padding-right: 85px;
}

.red_error {
    margin-top: -10px;
    color: #ED0A34;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 10px;
}